<div class="container">
  <div class="row" style="display: inline">
    <div class="col-xs-8">
      <div *ngIf='searchThis' class="panel">
        <div  class="panel-heading">
          <h2>Results for {{ searchThis }}</h2>
        </div>
        <div class="panel-body">
          <agm-map [latitude]="lat" [longitude]="lng">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
          </agm-map>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="panel">
        <div class="panel-body">
          <p>Content For test two</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4" *ngFor="let map of mapData">
      <h1>MAP: {{ map.geometry.location.lat }} </h1><br>
      <h2>longitude: {{ map.name }}</h2>
    </div>
  </div>
</div>