<div class="container">
  <div class="row" style="display: inline">
    <div class="col-xs-8">
        <!-- *ngIf='searchThis' -->
      <div  class="panel">
        <div  class="panel-heading">
          <h2>Results for {{ searchThis }}</h2>
        </div>
        <div class="panel-body">
          <agm-map 
            [latitude]="lat" 
            [longitude]="lng"
            [zoom]=12>
            <agm-marker *ngFor="let m of markers; let i=index"
              (markerClick)="clickedMarker(m, infoWindow, i)" 
              [latitude]="m.lat" 
              [longitude]="m.lng"
              >
              <!-- [iconUrl]="m.icon" -->  
              <agm-info-window [maxWidth]="140" #infoWindow>
                <p><img class="img-circle avatar" src="{{ m.icon }}" height="30px" width="30px" alt=""> {{ m.vicinity }}</p>
                <hr>
                <p>{{ m.name }}</p>                
                <strong></strong>
              </agm-info-window>
            </agm-marker>
          </agm-map>

        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="panel">
        <div class="panel-body">
          <p>Content For test two</p>
        </div>
      </div>
    </div>
  </div>
</div>