* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}


:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
html {
    font-size: 62.5%;
    -webkit-tap-highlight-color: transparent;
    height: 100%
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 1.42857143;
    color: #999;
    background-color: #f0f2f5;
    height: 100%
}
button,
input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}
a {
    color: #999;
    text-decoration: none
}
a:focus,
a:hover {
    color: #dc6767;
    text-decoration: none
}
a:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}
img {
    vertical-align: middle
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto
}
.img-circle {
    border-radius: 50%
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}
#wrapper {
    width: 100%;
    min-height: 100%;
    background-color: #3c3c3c
}
#page-wrapper {
    min-height: 100%;
    padding: 0!important;
    background-color: #f0f2f5;
    transition: .3s all linear
}
@media (min-width: 768px) {
    #page-wrapper {
        position: relative;
        margin: 0 0 0 250px;
        padding: 0
    }
}
#topbar {
    background: #fff;
    width: 100%;
    height: 50px
}
#topbar.navbar-default {
    border: 0
}
#topbar .navbar-header {
    width: 250px;
    height: 100%;
    background: #1e1e1e;
    text-align: center
}
#topbar .navbar-header #logo {
    font-size: 20px;
    line-height: 20px;
    color: #fff;
    height: 100%;
    width: 100%;
    margin-top: -5px;
}
.navbar-brand {
    background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#202020cb;
    background-size:16px 16px;
}
#topbar .navbar-header #logo span.fa {
    display: none
}
#topbar .navbar-header #logo span.logo-text {
    display: block;
    font-weight: lighter;
    font-family: Lato, sans-serif;
    font-size: 30px;
    margin-top: -22px;
}
#topbar .topbar-main {
    display: block;
    height: 100%;
    
}

.topbar-main {
    background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
}

#topbar .topbar-main #menu-toggle {
    float: left;
    padding: 15px 20px;
    background: 0 0;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-radius: 0;
    color: #fff
}
#topbar .topbar-main #menu-toggle:focus,
#topbar .topbar-main #menu-toggle:hover {
    color: #fff
}
#topbar .topbar-main #menu-toggle i {
    font-size: 25px
}
#topbar .topbar-main ul.nav.navbar-nav {
    display: none
}
#topbar .topbar-main ul.nav.navbar-nav li.active a,
#topbar .topbar-main ul.nav.navbar-nav li.open a,
#topbar .topbar-main ul.nav.navbar-nav li:hover a {
    background: #fff;
    color: #999
}
#topbar .topbar-main ul.nav.navbar-nav li a {
    color: #fff
}
#topbar #topbar-search {
    width: 250px;
    float: left;
}

.logoImage{
    background-image: url('../../assets/GitHub-Mark.png');
    height: 20px;
    width: 20px;
}

#topbar #topbar-search i {
    font-size: 24px;
    margin: 0;
    top: 17px;
    right: 12px;
    color: rgb(92, 92, 92);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}
#topbar #topbar-search input {
    padding: 15px 30px!important;
    height: 100%;
    border: 0!important;
    border-radius: 0;
    background: #3c3c3c
}
#topbar .navbar-top-links li {
    display: inline-block
}
#topbar .navbar-top-links li:last-child {
    margin-right: 15px
}
#topbar .navbar-top-links li.open>a {
    background: #3c3c3c!important;
    color: #fff!important
}
#topbar .navbar-top-links li.open>a:focus,
#topbar .navbar-top-links li.open>a:hover {
    background: #3c3c3c!important
}
#topbar .navbar-top-links li.open>a i {
    color: #fff
}
#topbar .navbar-top-links li>a {
    padding: 15px 20px;
    height: 100%;
    color: #fff;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}
#topbar .navbar-top-links li>a:focus,
#topbar .navbar-top-links li>a:hover {
    background: #3c3c3c!important
}
#topbar .navbar-top-links li>a i {
    font-size: 16px;
    color: #fff
}
#topbar .navbar-top-links li>a span.badge {
    position: absolute;
    top: 5px;
    right: 30px;
    padding: 3px 6px;
    color: #fff
}
#topbar .navbar-top-links li>a img {
    position: relative;
    width: 25px;
    height: 25px;
    display: inline-block
}
#topbar .navbar-top-links li .dropdown-menu li {
    display: block
}
#topbar .navbar-top-links li .dropdown-menu li:last-child {
    margin-right: 0
}
#topbar .navbar-top-links li .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
    color: #999
}
#topbar .navbar-top-links li .dropdown-menu li a div {
    white-space: normal
}
#topbar .navbar-top-links li .dropdown-menu li a.btn {
    color: #fff
}
#topbar .navbar-top-links li.topbar-user a {
    padding: 12px 15px 11px
}
#topbar .navbar-top-links li.topbar-user a img {
    margin-right: 5px
}
#topbar .navbar-top-links ul.dropdown-tasks {
    width: 250px;
    min-width: 0;
    margin-left: -59px
}
#topbar .navbar-top-links ul.dropdown-tasks li {
    float: left;
    width: 100%
}
#topbar .navbar-top-links ul.dropdown-tasks li a:focus,
#topbar .navbar-top-links ul.dropdown-tasks li a:hover {
    background: #f7f7f8!important
}
#topbar .navbar-top-links ul.dropdown-tasks li ul {
    padding: 0;
    margin: 0
}
#topbar .navbar-top-links ul.dropdown-tasks li ul li a {
    padding: 15px;
    display: block;
    border-top: 1px solid #efefef;
    font-size: 12px
}
#topbar .navbar-top-links ul.dropdown-tasks li ul li a span {
    margin-right: 10px
}
#topbar .navbar-top-links ul.dropdown-tasks li ul li a span i {
    font-size: 13px;
    color: #fff;
    padding: 3px
}
#topbar .navbar-top-links ul.dropdown-tasks li:first-child a {
    border-top: 0
}
#topbar .navbar-top-links .dropdown-user li a {
    padding: 10px!important;
    height: auto
}
#topbar .navbar-top-links .dropdown-user li a:focus,
#topbar .navbar-top-links .dropdown-user li a:hover {
    background: #f7f7f8!important
}
#topbar .navbar-top-links .dropdown-user li a i {
    margin-right: 5px;
    color: #999
}
#topbar .navbar-top-links .dropdown-user li a .badge {
    position: absolute;
    margin-top: 5px;
    right: 10px;
    display: inline;
    font-size: 11px;
    padding: 3px 6px 3px 6px;
    text-align: center;
    vertical-align: middle
}
@media (min-width: 768px) {
    .navbar-top-links .dropdown-tasks {
        margin-left: auto
    }
}
.page-title-breadcrumb {
    padding: 10px 20px;
    background: #fff;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .05), 0 1px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 2px 2px rgba(0, 0, 0, .05), 0 1px 0 rgba(0, 0, 0, .05);
    clear: both;
    border-bottom: 5px solid #e5e5e5!important;
    box-shadow: none!important
}
.page-title-breadcrumb .page-header {
    margin: 0;
    padding: 0;
    border-bottom: 0
}
.page-title-breadcrumb .page-header .page-title {
    font-size: 28px;
    font-weight: 300;
    display: inline-block
}
.page-title-breadcrumb .breadcrumb {
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    background: 0 0
}
.page-title-breadcrumb .breadcrumb li+li:before {
    content: "";
    padding: 0
}
#chat-form {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 280px;
    background: #40516f;
    z-index: 9999;
    display: none
}
#chat-form .chat-header {
    font-size: 16px;
    color: #fff;
    padding: 30px 35px;
    line-height: 1;
    margin: 0;
    border-bottom: 1px solid #53698f;
    position: relative
}
#sidebar {
    background: #3c3c3c
}
.navbar-static-side {
    transition: .3s all linear
}
.navbar-static-side ul li {
    border-bottom: 1px solid #484848
}
.navbar-static-side ul li:first-child a {
    padding: 0
}
.navbar-static-side ul li {
    background: #3c3c3c;
    outline: 0;
    color: #d9d9d9;
    height: 70px;
}
.navbar-static-side ul li.active a {
    background: #3e77ab;
    transition: .2s all ease-in-out;
    outline: 0;
    color: #fff;
    height: 70px;
}
.navbar-static-side ul li a {
    color: #d9d9d9;
    padding-top: 25px;
}
.navbar-static-side ul li a span.menu-title {
    margin-left: 10px;
    font-size: 16px;
}
.navbar-static-side ul li a i {
    font-size: 20px
}
.navbar-static-side ul li a i .icon-bg {
    display: none
}
.navbar-static-side ul li a:focus,
.navbar-static-side ul li a:hover {
    background: #303030;
    transition: .2s all ease-in-out;
    outline: 0;
    color: #fff;
    height: 70px;
}
.navbar-static-side ul li a .badge {
    float: right;
    margin-right: 10px
}
.navbar-static-side ul li a.menu-title {
    margin-left: 10px
}
.sidebar-user-info {
    padding: 15px
}
.sidebar-user-info img {
    border: 5px solid #d95b5b;
    width: 75px;
    height: 75px;
    display: inline-block
}
.sidebar-user-info ul {
    margin-bottom: 3px
}
.sidebar-user-info ul li {
    border-bottom: 0!important
}
.sidebar-user-info ul li a {
    color: #cdcdcd
}
.sidebar-user-info span {
    color: #fff
}
@media (min-width: 768px) {
    .navbar-static-side {
        z-index: 1;
        position: absolute;
        width: 250px
    }
}
.right-sidebar #topbar .navbar-header {
    float: right;
    border-right: 0
}
.right-sidebar #sidebar {
    left: auto;
    right: 0
}
.right-sidebar #page-wrapper {
    margin: 0 250px 0 0
}
.page-content {
    padding: 20px 20px 50px 20px;
    min-height: 700px
}
#footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 15px 20px;
    background: #fff
}
.profile {
    display: inline-block
}
.profile .divider {
    border-top: 1px solid rgba(0, 0, 0, .1)
}
.chat-form {
    margin-top: 15px;
    padding: 10px;
    background-color: #f0f0f0;
    overflow: hidden;
    clear: both
}
.chat-form #input-chat {
    border: 0
}
#lock-screen-page {
    background: url(http://swlabs.co/madmin/code/style2/images/bg/3.jpg) center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}
#lock-screen-page .page-form {
    background-color: rgba(0, 0, 0, .2);
    color: #fff
}
#lock-screen-page .page-form input {
    background-color: rgba(0, 0, 0, .3);
    border: 0
}
.page-form {
    width: 650px;
    margin: 20% auto 0 auto;
    border-radius: 4px
}
.page-form .input-icon i {
    margin-top: 12px
}
.page-form input[type=email],
.page-form input[type=password],
.page-form input[type=text] {
    height: 40px;
    border-color: #e5e5e5;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    color: #999
}
.page-form .header-content {
    padding: 15px 20px;
    background: #e9e9e9;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px
}
.page-form .body-content {
    padding: 15px 20px;
    position: relative
}
#lock-screen-page .page-form {
    margin-top: 15%;
    text-align: center
}
#lock-screen-avatar {
    top: -78px;
    left: 50%;
    margin-left: -74px;
    position: absolute;
    display: inline-block
}
#lock-screen-avatar img {
    border: 10px solid #eee
}
#lock-screen-info {
    margin-top: 60px
}
@media only screen and (max-width: 480px) {
    .page-form {
        width: 280px
    }
    #lock-screen-page .page-form {
        margin-top: 35%
    }
}
ul.nav.nav-tabs {
    border-bottom: 5px solid #fff!important
}
ul.nav.nav-tabs li {
    margin-bottom: 10px
}
ul.nav.nav-tabs li a {
    border: 0;
    background: 0 0;
    padding: 10px 20px
}
ul.nav.nav-tabs li.active a {
    background: #dc6767;
    color: #fff;
    border: 0
}
.option-demo {
    position: relative
}
.demo-layout {
    background-color: #fff;
    padding: 5px 15px;
    position: absolute;
    top: -30px;
    left: 0;
    z-index: 9999;
    border: 1px solid #e5e5e5;
    cursor: pointer
}
#sidebar-hover #topbar .navbar-header {
    width: 160px
}
#sidebar-hover #wrapper #page-wrapper {
    margin-left: 160px
}
#sidebar-hover #wrapper #sidebar {
    width: 160px
}
#sidebar-hover #wrapper #sidebar ul.menu-hover {
    width: 160px;
    position: absolute;
    top: 50px;
    display: block;
    -webkit-box-shadow: none!important;
    box-shadow: none!important
}
#sidebar-hover #wrapper #sidebar ul.menu-hover>li.active a {
    opacity: .95
}
#sidebar-hover #wrapper #sidebar ul.menu-hover>li a {
    background-color: #40516f;
    color: #fff;
    padding: 15px;
    position: relative
}
#sidebar-hover #wrapper #sidebar ul.menu-hover>li a span.menu-title {
    margin-left: 10px
}
#sidebar-hover #wrapper #sidebar ul.menu-hover>li a:after {
    content: '';
    border: 0
}
#sidebar-hover #wrapper #sidebar ul.menu-hover>li a:hover {
    opacity: .95
}
#sidebar-hover #wrapper #sidebar ul.menu-hover>li ul.dropdown-menu {
    -webkit-box-shadow: none!important;
    box-shadow: none!important
}
#sidebar-hover #wrapper #sidebar ul.menu-hover>li ul.dropdown-menu>li:first-child>a:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 8px 8px 0;
    border-color: transparent #d44646 transparent transparent;
    left: -8px;
    top: 50%;
    margin-top: -8px
}
#sidebar-hover #wrapper #sidebar ul.menu-hover>li ul.dropdown-menu>li a {
    background-color: #d44646
}
#sidebar-hover #wrapper #sidebar ul.menu-hover>li ul.dropdown-menu>li a:hover {
    opacity: .95
}
#sidebar-hover #wrapper #sidebar ul.menu-hover>li ul.dropdown-menu>li ul.dropdown-menu {
    -webkit-box-shadow: none!important;
    box-shadow: none!important
}
#sidebar-hover #wrapper #sidebar ul.menu-hover>li ul.dropdown-menu>li ul.dropdown-menu>li:first-child>a:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 8px 8px 0;
    border-color: transparent #de6f6f transparent transparent;
    left: -8px;
    top: 50%;
    margin-top: -8px
}
#sidebar-hover #wrapper #sidebar ul.menu-hover>li ul.dropdown-menu>li ul.dropdown-menu>li a {
    background-color: #de6f6f
}
#sidebar-hover #wrapper #sidebar ul.menu-hover>li ul.dropdown-menu>li ul.dropdown-menu>li a:hover {
    opacity: .95
}
.bg-primary {
    background-color: #dc6767;
    color: #fff
}
.bg-success {
    background-color: #5cb85c;
    color: #fff
}
.bg-info {
    background-color: #5bc0de;
    color: #fff
}
.bg-danger {
    background-color: #d9534f;
    color: #fff
}
.bg-red {
    background-color: #bf4346;
    color: #fff
}
.bg-green {
    background-color: #488c6c;
    color: #fff
}
.bg-blue {
    background-color: #0a819c;
    color: #fff
}
.bg-yellow {
    background-color: #f2994b;
    color: #fff
}
.bg-orange {
    background-color: #e9662c;
    color: #fff
}
.bg-pink {
    background-color: #bf3773;
    color: #fff
}
.bg-violet {
    background-color: #9351ad;
    color: #fff
}
.bg-grey {
    background-color: #4b5d67;
    color: #fff
}
.bg-dark {
    background-color: #594857;
    color: #fff
}
body.sidebar-icons #topbar .navbar-header {
    width: 105px
}
body.sidebar-icons #topbar .navbar-header .logo-text {
    display: none!important
}
body.sidebar-icons #topbar .navbar-header .logo-text-icon {
    display: block!important;
    font-weight: 700;
    font-family: Oswald, sans-serif;
    font-size: 30px
}
body.sidebar-icons #wrapper #sidebar {
    width: 105px
}
body.sidebar-icons #wrapper #sidebar ul#side-menu>li a {
    padding: 15px 10px;
    text-align: center;
    display: block
}
body.sidebar-icons #wrapper #sidebar ul#side-menu>li a:focus,
body.sidebar-icons #wrapper #sidebar ul#side-menu>li a:hover {
    background-color: transparent
}
body.sidebar-icons #wrapper #sidebar ul#side-menu>li a span.menu-title {
    display: block;
    margin-top: 8px;
    margin-left: 0
}
body.sidebar-icons #wrapper #sidebar ul#side-menu>li a i.fa {
    font-size: 25px
}
body.sidebar-icons #wrapper #page-wrapper {
    margin-left: 105px
}
.mbn {
    margin-bottom: 0!important
}
[class*=jquery-notific8],
[class*=jquery-notific8]:after,
[class*=jquery-notific8]:before {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}
.ticker-wrapper.has-js {
    margin: 0;
    padding: 0;
    float: left;
    background: 0 0;
    font-size: 13px
}
.ticker {
    display: block;
    position: relative;
    overflow: hidden;
    background: 0 0;
    margin: 0;
    padding: 0
}
.ticker-title {
    background-color: transparent
}
.ticker-content {
    color: #fff;
    background: 0 0;
    font-weight: 400;
    padding-top: 8px
}
.ticker-content a {
    color: #999
}
.ticker-content a:focus,
.ticker-content a:hover {
    color: #999;
    text-decoration: none
}
input[type=color]:focus,
input[type=date]:focus,
input[type=datetime-local]:focus,
input[type=datetime]:focus,
input[type=email]:focus,
input[type=month]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=time]:focus,
input[type=url]:focus,
input[type=week]:focus {
    border-color: #999;
    box-shadow: none;
    outline: 0 none
}
.btn:focus,
a:focus {
    outline: 0!important
}
.img-circle {
    border-radius: 50%!important
}
.badge {
    font-size: 11px!important;
    font-weight: 300;
    height: 18px;
    padding: 3px 6px 3px 6px;
    -webkit-border-radius: 12px!important;
    -moz-border-radius: 12px!important;
    border-radius: 12px!important;
    text-shadow: none!important;
    text-align: center;
    vertical-align: middle;
    background-color: #bcbcbc
}
.badge-default {
    background-color: #999!important
}
.badge-primary {
    background-color: #dc6767!important
}
.badge-red {
    background-color: #bf4346!important
}
.badge-orange {
    background-color: #e9662c!important
}
.badge-green {
    background-color: #488c6c!important
}
.badge-yellow {
    background-color: #f2994b!important
}
.badge-blue {
    background-color: #0a819c!important
}
.badge-violet {
    background-color: #9351ad!important
}
.badge-pink {
    background-color: #bf3773!important
}
.badge-grey {
    background-color: #4b5d67!important
}
.badge-dark {
    background-color: #594857!important
}
.badge-success {
    background-color: #5cb85c;
    background-image: none!important
}
.badge-danger {
    background-color: #d9534f;
    background-image: none!important
}
.badge-info {
    background-color: #5bc0de;
    background-image: none!important
}
.btn {
    outline: 0!important;
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    border-radius: 0!important
}
.btn-default {
    background: #f2f5f7;
    background: -moz-linear-gradient(top, #f2f5f7 0, #f6f8f9 50%, #d7dee3 50%, #d7dee3 50%, #d7dee3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f2f5f7), color-stop(50%, #f6f8f9), color-stop(50%, #d7dee3), color-stop(50%, #d7dee3), color-stop(100%, #d7dee3));
    background: -webkit-linear-gradient(top, #f2f5f7 0, #f6f8f9 50%, #d7dee3 50%, #d7dee3 50%, #d7dee3 100%);
    background: -o-linear-gradient(top, #f2f5f7 0, #f6f8f9 50%, #d7dee3 50%, #d7dee3 50%, #d7dee3 100%);
    background: -ms-linear-gradient(top, #f2f5f7 0, #f6f8f9 50%, #d7dee3 50%, #d7dee3 50%, #d7dee3 100%);
    background: linear-gradient(to bottom, #f2f5f7 0, #f6f8f9 50%, #d7dee3 50%, #d7dee3 50%, #d7dee3 100%);
    color: #58636b;
    -webkit-border-radius: 5px!important;
    -moz-border-radius: 5px!important;
    border-radius: 5px!important
}
.btn-default.active,
.btn-default:active,
.btn-default:focus,
.btn-default:hover,
.open .dropdown-toggle.btn-default {
    color: #999;
    background-color: #dbdbdb;
    border-color: #c6c6c6
}
.btn-default.active,
.btn-default:active,
.open .dropdown-toggle.btn-default {
    background-image: none
}
.btn-default[disabled],
.btn-default[disabled].active,
.btn-default[disabled]:active,
.btn-default[disabled]:focus,
.btn-default[disabled]:hover {
    background-color: #efefef;
    border-color: #e5e5e5
}
.btn-primary {
    color: #fff;
    border: 1px solid #1f68b1
}
.btn-primary.active,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #1f68b1;
    border-color: #1a548d
}
.btn-primary.active,
.btn-primary:active,
.open .dropdown-toggle.btn-primary {
    background-image: none
}
.btn-primary[disabled],
.btn-primary[disabled].active,
.btn-primary[disabled]:active,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover {
    background-color: #dc6767;
    border-color: #da5f5f
}
.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #55b555
}
.btn-success.active,
.btn-success:active,
.btn-success:focus,
.btn-success:hover,
.open .dropdown-toggle.btn-success {
    color: #fff;
    background-color: #47a447;
    border-color: #3e8f3e
}
.btn-success.active,
.btn-success:active,
.open .dropdown-toggle.btn-success {
    background-image: none
}
.btn-success[disabled],
.btn-success[disabled].active,
.btn-success[disabled]:active,
.btn-success[disabled]:focus,
.btn-success[disabled]:hover {
    background-color: #5cb85c;
    border-color: #55b555
}
.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #53bddc
}
.btn-info.active,
.btn-info:active,
.btn-info:focus,
.btn-info:hover,
.open .dropdown-toggle.btn-info {
    color: #fff;
    background-color: #39b3d7;
    border-color: #28a4c9
}
.btn-info.active,
.btn-info:active,
.open .dropdown-toggle.btn-info {
    background-image: none
}
.btn-info[disabled],
.btn-info[disabled].active,
.btn-info[disabled]:active,
.btn-info[disabled]:focus,
.btn-info[disabled]:hover {
    background-color: #5bc0de;
    border-color: #53bddc
}
.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d74b47
}
.btn-danger.active,
.btn-danger:active,
.btn-danger:focus,
.btn-danger:hover,
.open .dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #d2322d;
    border-color: #b92c28
}
.btn-danger.active,
.btn-danger:active,
.open .dropdown-toggle.btn-danger {
    background-image: none
}
.btn-danger[disabled],
.btn-danger[disabled].active,
.btn-danger[disabled]:active,
.btn-danger[disabled]:focus,
.btn-danger[disabled]:hover {
    background-color: #d9534f;
    border-color: #d74b47
}
.btn-red {
    color: #fff;
    background-color: #bf4346;
    border-color: #b93f42
}
.btn-red.active,
.btn-red:active,
.btn-red:focus,
.btn-red:hover,
.open .dropdown-toggle.btn-red {
    color: #fff;
    background-color: #a2373a;
    border-color: #8b2f32
}
.btn-red.active,
.btn-red:active,
.open .dropdown-toggle.btn-red {
    background-image: none
}
.btn-red[disabled],
.btn-red[disabled].active,
.btn-red[disabled]:active,
.btn-red[disabled]:focus,
.btn-red[disabled]:hover {
    background-color: #bf4346;
    border-color: #b93f42
}
.btn-orange {
    color: #fff;
    background-color: #e9662c;
    border-color: #e85f23
}
.btn-orange.active,
.btn-orange:active,
.btn-orange:focus,
.btn-orange:hover,
.open .dropdown-toggle.btn-orange {
    color: #fff;
    background-color: #d65116;
    border-color: #ba4713
}
.btn-orange.active,
.btn-orange:active,
.open .dropdown-toggle.btn-orange {
    background-image: none
}
.btn-orange[disabled],
.btn-orange[disabled].active,
.btn-orange[disabled]:active,
.btn-orange[disabled]:focus,
.btn-orange[disabled]:hover {
    background-color: #e9662c;
    border-color: #e85f23
}
.btn-green {
    color: #fff;
    background-color: #488c6c;
    border-color: #458567
}
.btn-green.active,
.btn-green:active,
.btn-green:focus,
.btn-green:hover,
.open .dropdown-toggle.btn-green {
    color: #fff;
    background-color: #3a7157;
    border-color: #305d48
}
.btn-green.active,
.btn-green:active,
.open .dropdown-toggle.btn-green {
    background-image: none
}
.btn-green[disabled],
.btn-green[disabled].active,
.btn-green[disabled]:active,
.btn-green[disabled]:focus,
.btn-green[disabled]:hover {
    background-color: #488c6c;
    border-color: #458567
}
.btn-yellow {
    color: #fff;
    background-color: #f2994b;
    border-color: #f19441
}
.btn-yellow.active,
.btn-yellow:active,
.btn-yellow:focus,
.btn-yellow:hover,
.open .dropdown-toggle.btn-yellow {
    color: #fff;
    background-color: #ef8325;
    border-color: #e57411
}
.btn-yellow.active,
.btn-yellow:active,
.open .dropdown-toggle.btn-yellow {
    background-image: none
}
.btn-yellow[disabled],
.btn-yellow[disabled].active,
.btn-yellow[disabled]:active,
.btn-yellow[disabled]:focus,
.btn-yellow[disabled]:hover {
    background-color: #f2994b;
    border-color: #f19441
}
.btn-blue {
    color: #fff;
    background-color: #0a819c;
    border-color: #097992
}
.btn-blue.active,
.btn-blue:active,
.btn-blue:focus,
.btn-blue:hover,
.open .dropdown-toggle.btn-blue {
    color: #fff;
    background-color: #086176;
    border-color: #064a59
}
.btn-blue.active,
.btn-blue:active,
.open .dropdown-toggle.btn-blue {
    background-image: none
}
.btn-blue[disabled],
.btn-blue[disabled].active,
.btn-blue[disabled]:active,
.btn-blue[disabled]:focus,
.btn-blue[disabled]:hover {
    background-color: #0a819c;
    border-color: #097992
}
.btn-violet {
    color: #fff;
    background-color: #9351ad;
    border-color: #8d4ea6
}
.btn-violet.active,
.btn-violet:active,
.btn-violet:focus,
.btn-violet:hover,
.open .dropdown-toggle.btn-violet {
    color: #fff;
    background-color: #7b4491;
    border-color: #6a3a7c
}
.btn-violet.active,
.btn-violet:active,
.open .dropdown-toggle.btn-violet {
    background-image: none
}
.btn-violet[disabled],
.btn-violet[disabled].active,
.btn-violet[disabled]:active,
.btn-violet[disabled]:focus,
.btn-violet[disabled]:hover {
    background-color: #9351ad;
    border-color: #8d4ea6
}
.btn-pink {
    color: #fff;
    background-color: #bf3773;
    border-color: #b7356e
}
.btn-pink.active,
.btn-pink:active,
.btn-pink:focus,
.btn-pink:hover,
.open .dropdown-toggle.btn-pink {
    color: #fff;
    background-color: #9f2e60;
    border-color: #882752
}
.btn-pink.active,
.btn-pink:active,
.open .dropdown-toggle.btn-pink {
    background-image: none
}
.btn-pink[disabled],
.btn-pink[disabled].active,
.btn-pink[disabled]:active,
.btn-pink[disabled]:focus,
.btn-pink[disabled]:hover {
    background-color: #bf3773;
    border-color: #b7356e
}
.btn-grey {
    color: #fff;
    background-color: #4b5d67;
    border-color: #475861
}
.btn-grey.active,
.btn-grey:active,
.btn-grey:focus,
.btn-grey:hover,
.open .dropdown-toggle.btn-grey {
    color: #fff;
    background-color: #3a484f;
    border-color: #2d383e
}
.btn-grey.active,
.btn-grey:active,
.open .dropdown-toggle.btn-grey {
    background-image: none
}
.btn-grey[disabled],
.btn-grey[disabled].active,
.btn-grey[disabled]:active,
.btn-grey[disabled]:focus,
.btn-grey[disabled]:hover {
    background-color: #4b5d67;
    border-color: #475861
}
.btn-dark {
    color: #fff;
    background-color: #594857;
    border-color: #534351
}
.btn-dark.active,
.btn-dark:active,
.btn-dark:focus,
.btn-dark:hover,
.open .dropdown-toggle.btn-dark {
    color: #fff;
    background-color: #423641;
    border-color: #322830
}
.btn-dark.active,
.btn-dark:active,
.open .dropdown-toggle.btn-dark {
    background-image: none
}
.btn-dark[disabled],
.btn-dark[disabled].active,
.btn-dark[disabled]:active,
.btn-dark[disabled]:focus,
.btn-dark[disabled]:hover {
    background-color: #594857;
    border-color: #534351
}
.btn-white {
    color: #999;
    background-color: #fff;
    border-color: #e5e5e5
}
.btn-white.active,
.btn-white:active,
.btn-white:focus,
.btn-white:hover,
.open .dropdown-toggle.btn-white {
    color: #999;
    background-color: #ebebeb;
    border-color: #c6c6c6
}
.btn-white.active,
.btn-white:active,
.open .dropdown-toggle.btn-white {
    background-image: none
}
.btn-white[disabled],
.btn-white[disabled].active,
.btn-white[disabled]:active,
.btn-white[disabled]:focus,
.btn-white[disabled]:hover {
    background-color: #fff;
    border-color: #e5e5e5
}
.dropdown-menu {
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .15)!important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15)!important
}
.dropdown-menu li a {
    color: #999;
    padding: 9px 10px;
    font-size: 13px
}
[class*=" fa-"],
[class*=" glyphicon-"],
[class*=" icon-"],
[class^=fa-],
[class^=glyphicon-],
[class^=icon-] {
    display: inline-block;
    margin-top: 1px;
    font-size: 14px;
    line-height: 14px;
    -webkit-font-smoothing: antialiased
}
li [class*=" fa-"],
li [class*=" glyphicon-"],
li [class*=" icon-"],
li [class^=fa-],
li [class^=glyphicon-],
li [class^=icon-] {
    display: inline-block;
    width: 1.25em;
    text-align: center
}
li [class*=" glyphicon-"],
li [class^=glyphicon-] {
    top: 2px
}
li [class*=" icon-"],
li [class^=icon-] {
    top: 1px;
    position: relative
}
.nav-tabs {
    border-color: #e5e5e5!important
}
.nav-tabs li a {
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    border-radius: 0!important
}
.text-primary {
    color: #dc6767!important
}
.text-red {
    color: #bf4346!important
}
.text-orange {
    color: #e9662c!important
}
.text-green {
    color: #488c6c!important
}
.text-yellow {
    color: #f2994b!important
}
.text-blue {
    color: #0a819c!important
}
.text-pink {
    color: #bf3773!important
}
.text-violet {
    color: #9351ad!important
}
.text-grey {
    color: #4b5d67!important
}
.text-dark {
    color: #594857!important
}
.text-white {
    color: rgb(90, 90, 90)!important
}
.input-icon {
    position: relative
}
.input-icon input {
    padding-left: 33px!important;
    color: #999
}
.input-icon i {
    color: #999;
    display: block;
    position: absolute;
    margin: 10px 2px 4px 10px;
    width: 16px;
    height: 16px;
    font-size: 16px;
    text-align: center
}
.input-icon.right input {
    padding-left: 12px!important;
    padding-right: 33px!important
}
.input-icon.right i {
    right: 8px;
    float: right
}
.has-success .input-icon i {
    color: #5cb85c
}
.page-header-breadcrumb {
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    border-radius: 0!important
}
.form-control {
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    border-color: #e5e5e5;
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    border-radius: 0!important
}
.breadcrumb {
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    border-radius: 0!important
}
.navbar {
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    border-radius: 0!important
}
.page-form {
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    border-radius: 0!important
}
.page-form .header-content {
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    border-radius: 0!important
}