<!DOCTYPE html>
<html lang="en">
<head>
    <title>RBC InnerSource</title>
    <meta charset="utf-8">
</head>
<body>
    <div>
        <div id="header-topbar-option-demo" class="page-header-topbar">
            <nav id="topbar" role="navigation" style="margin-bottom: 0;" data-step="3" class="navbar navbar-default navbar-static-top">
            <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target=".sidebar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                <a id="logo" href="index.html" class="navbar-brand"><span class="logo-text"> RBC Inc.</span></a></div>
            <div class="topbar-main"><a id="menu-toggle" href="#" class="hidden-xs"></a>
                
                <ul class="nav navbar navbar-top-links navbar-right mbn">
                    <li class="dropdown"><a data-hover="dropdown" href="#" class="dropdown-toggle"><i class="fa fa-bell fa-fw"></i></a>
                    </li>
                    <li class="dropdown"><a data-hover="dropdown" href="#" class="dropdown-toggle"><i class="fa fa-envelope fa-fw"></i></a>
                    </li>
                    <li class="dropdown"><a data-hover="dropdown" href="#" class="dropdown-toggle"><i class="fa fa-tasks fa-fw"></i></a>
                    </li>
                    <li class="dropdown topbar-user"><a data-hover="dropdown" href="#" class="dropdown-toggle"><img src="images/avatar/48.jpg" alt="" style="background-color: white" class="img-responsive img-circle"/>&nbsp;<span class="hidden-xs">Royal Steven</span>&nbsp;<span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-user pull-right">
                            <li><a href="#"><i class="fa fa-user"></i>My Profile</a></li>
                            <li><a href="#"><i class="fa fa-calendar"></i>My Calendar</a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i>My Inbox<span class="badge badge-danger">3</span></a></li>
                            <li><a href="#"><i class="fa fa-tasks"></i>My Tasks<span class="badge badge-success">7</span></a></li>
                            <li class="divider"></li>
                            <li><a href="#"><i class="fa fa-lock"></i>Lock Screen</a></li>
                            <li><a href="Login.html"><i class="fa fa-key"></i>Log Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    
        <div id="wrapper">
            <nav id="sidebar" role="navigation" data-step="2" data-intro="Template has &lt;b&gt;many navigation styles&lt;/b&gt;"
                data-position="right" class="navbar-default navbar-static-side">
            <div class="sidebar-collapse menu-scroll">
                <ul id="side-menu" class="nav">
                    <div class="clearfix"></div>
                    <li class="active"><a href="#"><i class="fa fa-tachometer fa-fw">
                        <div class="icon-bg bg-orange"></div>
                    </i><span class="menu-title">Dashboard</span></a></li>
                    
                    <li><a href="#"><i class="fa fa-location-arrow">
                        <div class="icon-bg bg-green"></div>
                    </i><span class="menu-title">Location</span></a>
                       
                    </li>
                    <li><a href="#"><i class="fa fa-edit fa-fw">
                        <div class="icon-bg bg-violet"></div>
                    </i><span class="menu-title">Edit Event</span></a>
                      
                    </li>
                    <li><a href="#"><i class="fa fa-th-list fa-fw">
                        <div class="icon-bg bg-blue"></div>
                    </i><span class="menu-title">Organized</span></a>
                          
                    </li>
                    <li><a href="#"><i class="fa fa-thumbs-up">
                        <div class="icon-bg bg-yellow"></div>
                    </i><span class="menu-title">Group On</span></a>
                       
                    </li>
                    <li><a href="#"><i class="fa fa-gift fa-fw">
                        <div class="icon-bg bg-grey"></div>
                    </i><span class="menu-title">Extras</span></a>
                      
                    </li>
                    <li><a href="#"><i class="fa fa-bar-chart-o fa-fw">
                        <div class="icon-bg bg-orange"></div>
                    </i><span class="menu-title">Traffic Report</span></a>
                       
                    </li>
                    <li><a href="#"><i class="fa fa-slack fa-fw">
                        <div class="icon-bg bg-green"></div>
                    </i><span class="menu-title">About Us</span></a></li>
                </ul>
            </div>
        </nav>
            
            <div id="page-wrapper">
                <!--BEGIN TITLE & BREADCRUMB PAGE-->
                <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                    <div class="page-header pull-left">
                        <div class="page-title">
                            Search Place</div> 
                    </div>
                    
                    <ol class="breadcrumb page-breadcrumb pull-right">
                        <li><i class="fa fa-home" style="font-size: 18px;"></i>&nbsp;<a href="#" style="font-size: 18px;">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right" style="font-size: 18px;"></i>&nbsp;&nbsp;</li>
                        <li class="hidden"><a href="#" >Dashboard</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
                        <li class="" style="font-size: 18px;">Dashboard</li>
                    </ol>
                    <div class="clearfix">
                    </div>
                    <form id="topbar-search"  action="" method="" class="hidden-sm hidden-xs">
                        <div class="input-icon right text-white"  ><i class="fa fa-search"></i><input type="text" style="background-color: rgb(245, 245, 245);" placeholder="Search here..." class="form-control text-white"/></div>
                    </form>
                </div>
                <!-- GETTING DATA FROM CONTENT COMPONENT -->
                <div class="page-content">
                    <app-content></app-content>
                </div>
               
                <div id="footer">
                    <div class="copyright">
                        <a href="http://themifycloud.com">2017 © RBC Inner Source Shit</a></div>
                </div>
               
            </div>
         
        </div>
    </div>
    </div>

    
</body>
</html>